.empty-well {
    background: transparent;
}
.bigger-icon {
    font-size: 48px;
}
.footer-background {
    background-color: black;
    color: white;
}
.padding-left-8px {
    padding-left: 8px;
}
.error {
    color: #FF0000;
}
